html, body {
    overflow-x: hidden !important;    
}

[data-sap-ui*="OrderItemScreen"] {
    overflow-x: hidden !important;
}

.noTopMargin {
    margin-top: 0 !important;
}

.customGapHBox > * {
    margin-right: 3rem;
}

.customGapHBox > *:last-child {
    margin-right: 0;
}